<div class="col-md-12">
	<h3>Winner</h3>
	<h4 ng-if="$ctrl.tabMatchDetailsData.match_winner == $ctrl.tabMatchDetailsData.team_data[0].teamref">{{$ctrl.tabMatchDetailsData.team_data[0].name}}</h4>
	<h4 ng-if="$ctrl.tabMatchDetailsData.match_winner == $ctrl.tabMatchDetailsData.team_data[1].teamref">{{$ctrl.tabMatchDetailsData.team_data[1].name}}</h4>
</div>
<div class="col-md-12">
	<h3>{{$ctrl.tabMatchDetailsData.competition_name}}</h3>
	<h4>{{$ctrl.tabMatchDetailsData.round_name}} {{$ctrl.tabMatchDetailsData.round}}</h4>
	<h4>{{$ctrl.tabMatchDetailsData.pool}}</h4>
</div>
<div class="col-md-12">
	<h3>Location</h3>
	<h4>{{$ctrl.tabMatchDetailsData.venue_name}}, {{$ctrl.tabMatchDetailsData.city}}</h4>
</div>
<div class="col-md-12">
	<h3>Referee</h3>
	<h4>{{$ctrl.tabMatchDetailsData.referee}}</h4>
</div>
<div class="col-md-12">
	<h3 style="color:#f57d09">Duration</h3>
	<h4>{{$ctrl.tabMatchDetailsData.match_time}} mins</h4>
</div>