<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
        <a class="navbar-brand" href="#/">
          <img alt="Brand" src="../images/header-logo.png" style="width:150px">
        </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/matches" ng-show="$root.isAuthenticated">Results</a></li>
        <li ng-show="$root.isAuthenticated"><a href="" ng-click="attemptLogout ()">Logout</a></li>
      </ul>
      <p ng-show="$root.isAuthenticated" class="navbar-text">Hello {{$root.currentUser}}!</p>
    </div>
  </div>
</nav>