<div class="col-md-12">
	<h3>Side</h3>
	<h4>{{$ctrl.tabMatchDetailsData.team_data[0].side}}</h4>
</div>
<div class="col-md-12">
	<h3>Score</h3>
	<h4>{{$ctrl.tabMatchDetailsData.team_data[0].score}}</h4>
</div>
<div class="col-md-12">
	<h3>Half Time Score</h3>
	<h4>{{$ctrl.tabMatchDetailsData.team_data[0].halfscore}}</h4>
</div>
<div class="col-md-12">
	<h3>Final Score</h3>
	<h4>{{$ctrl.tabMatchDetailsData.team_data[0].ninetyscore}}</h4>
</div>
<div class="col-md-12">
	<h3>Penalties</h3>
	<span class="penalty-results" ng-repeat="penalty in $ctrl.tabMatchDetailsData.team_data[0].shootout track by $index">
		<img class="img-responsive" src="images/icons/penaltyscored.png" ng-if="penalty == 'Scored'" data-toggle="tooltip" data-placement="top" title="Penalty Scored"/>
		<img class="img-responsive" src="images/icons/owngoal.png" ng-if="penalty == 'Saved'" data-toggle="tooltip" data-placement="top" title="Penalty Saved"/>
		<img class="img-responsive" src="images/icons/penaltymissed.png" ng-if="penalty == 'Missed'" data-toggle="tooltip" data-placement="top" title="Penalty Missed"/>
	</span>
</div>
<div class="col-md-12">
	<h3>Squad</h3>
	<h4>{{$ctrl.tabMatchDetailsData.team_data[0].num_players}}</h4>
</div>