/**
*
*	Variables for SportsDec App
*
*/
$sportsdec-color-turquoise-lght: #06cbc4;
$sportsdec-color-turquoise-dark: #05b6b0;

$sportsdec-color-grey-dark: #182222;
$sportsdec-color-grey-light: #eeeeee;

$sportsdec-color-white: #FFFFFF;

$sportsdec-color-orange-dark: #f57d09;
$sportsdec-color-orange-light: #f9b16b;

$sportsdec-color-green: #439e4e;
$sportsdec-color-red: #d03020;
$sportsdec-color-yellow: #e9b739;