//	Import Variables
@import "variables";

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $sportsdec-color-grey-light;
}
.jumbotron {
	.sportdec-button {
		background-color: $sportsdec-color-turquoise-lght;
		border-color: $sportsdec-color-turquoise-lght;
		&:hover {
			background-color: $sportsdec-color-turquoise-dark;
			border-color: $sportsdec-color-turquoise-dark;
		}
	}
	a:link {
		text-decoration: none;
	}
}